<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nivisi.leafy_launcher">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/leafy_icon"
        android:allowBackup="true"
        android:fullBackupOnly="true">

        <activity
            android:name="com.nivisi.leafy_launcher.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/LaunchTheme"
            android:taskAffinity=".com.nivisi.leafy_launcher.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.nivisi.leafy_launcher.NotesActivity"
            android:label="@string/leafy_notes_title"
            android:theme="@style/LaunchTheme"
            android:taskAffinity=".com.nivisi.leafy_launcher.LeafyNotesActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/leafy_notes_launch_background"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <receiver
            android:name=".broadcast_receivers.AppChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast_receivers.DeviceLocaleChangedBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>